-i https://pypi.org/simple
aiohappyeyeballs==2.3.4; python_version >= '3.8' and python_version < '4.0'
aiohttp==3.10.1; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
attrs==24.1.0; python_version >= '3.7'
black==24.8.0; python_version >= '3.8'
blizzardapi2==1.1.0; python_version >= '3.11' and python_version < '4.0'
certifi==2024.7.4; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; sys_platform == 'win32'
discord==2.3.2
discord.py==2.4.0; python_version >= '3.8'
frozenlist==1.4.1; python_version >= '3.8'
idna==3.7; python_version >= '3.5'
iniconfig==2.0.0; python_version >= '3.7'
multidict==6.0.5; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
nose==1.3.7
packaging==24.1; python_version >= '3.8'
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.2.2; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
pytest==8.3.2; python_version >= '3.8'
pytest-mock==3.14.0; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
urllib3==2.2.2; python_version >= '3.8'
yarl==1.9.4; python_version >= '3.7'
